*
!FasterNFaster.Api.sln
!FasterNFaster.Api.Domain/
!FasterNFaster.Api.UseCases/
!FasterNFaster.Api.Infrastructure/
!FasterNFaster.Api.Presentation/

**/bin/
**/obj/
**/.env
**/.env.*
**/appsettings.Development.json
**/*.user
**/*.log
**/log.txt
**/Dockerfile
**/.dockerignore
