POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
CONNECTIONSTRINGS__DEFAULTCONNECTION=

GOOGLE__CLIENTID=
GOOGLE__CLIENTSECRET=

JWTOPTIONS__JWT_PRIVATE_TOKEN=

AppUrls__FrontendUrl=
AppUrls__BackendUrl=

AuthCookies__CookieDomain=
AuthCookies__Secure=
AuthCookies__CookieSameSite=